<div class="main-container">
  <div class="dark-film-container"></div>
  <div class="img-container">
    <img src="../../assets/trade-bg.png" alt="" style="width: 100vw; height: 100vh;object-fit: cover;">
  </div>

  <div class="title-container">
    Welcome John Smith!
  </div>

  <div nz-row class="main-cards-container">

    <div nz-col nzLg="8" nzXs="24" style="margin-bottom: 15px;">
      <div class="card-container">

        <div>
        <div class="card">

          <div class="icon-container">
            
            <img src="../../assets/svgs/booking-icon.svg" alt="">
              
          </div>
          <div class="card-text-container">
            My Bookings
          </div>
          <div class="card-btn-container">
            VIEW ALL
          </div>

        </div>
      </div>
      </div>
    </div>

    <div nz-col nzLg="8" nzXs="24" style="margin-bottom: 15px;">
      <div class="card-container">

        <div>
        <div class="card">

          <div class="icon-container">
           <img src="../../assets/svgs/payment-invoices.svg" alt="">
          </div>
          <div class="card-text-container">
            Payments and Invoices
          </div>
          <div class="card-btn-container">
            VIEW ALL
          </div>

        </div>
      </div>
      </div>
    </div>
    <div nz-col nzLg="8" nzXs="24" style="margin-bottom: 15px;">
      <div class="card-container">

        <div>
        <div class="card">

          <div class="icon-container">
            <img src="../../assets/svgs/my-vehicles.svg" alt="">
              
          </div>
          <div class="card-text-container">
            My Vehicles
          </div>
          <div class="card-btn-container">
            VIEW ALL
          </div>

        </div>
      </div>
      </div>
    </div>

  </div>

  <div class="copyright-text-holder">
    © 2021 BIGFOOT LOGISTIC PTE LTD
  </div>

</div>
