<div class="main-container">
    <div class="dark-film-container"></div>
    <div class="img-container">
      <img src="../../assets/trade-bg.png" alt="" style="width: 100%; height: auto;">
    </div>
  

   <div class="title-btn-container">

       <div class="booking-title-container">
           Bookings History
       </div>
 
       <div class="date-icon-btn-container">

           <div style="display: flex; flex-direction: row; margin-bottom: 10px;">
            <div style="margin-right:5px;">
                <img src="../../assets/svgs/filter-funnel.svg" alt="">
            </div>
            <div style="margin-right:10px; font-family: DM Sans; font-weight:500; font-size: 14px;color: #FFFFFF;">
                Date Created
            </div>
 
            <div style="margin-right:15px;">
                <img src="../../assets/svgs/down-arrow.svg" alt="">
            </div>

           </div>

           <div>
            <div class="cofirm-btn">
                Add New Booking
              </div>
           </div>
       </div>

   </div>

   <div class="booking-hisotry-cards-container">

    <div nz-row style="width: 100%;" [nzGutter]="[36,36]">

        <div nz-col nzOffset="1" nzXs="24" nzLg="11">
            <div nz-row class="single-quote-card">
                <div nz-col nzSpan="10" style="padding: 10px 10px;">
                   <img src="../../assets/vehicle image.png" style="width: 100%; height: auto;" alt="">
                </div>

                <div nz-col nzXs= "24" nzLg="14" style="padding: 15px 15px;">

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">

                        <div style="display: flex; flex-direction: row;">
                            <div style="margin-right: 10px;"><img src="../../assets/svgs/edit-icon.svg" alt=""></div>

                            <div>Quotation Received</div>
                        </div>
                       
                        <div style="margin-right: 10px;">
                            <img src="../../assets/svgs/right-icon.svg" alt="">
                        </div>

                    </div>

                    <div class="separator" style="width: 50px;"></div>

                    <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Order ID</div>
                            <div class="order-detail-text">#12354</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Created On</div>
                            <div class="order-detail-text">10 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">VRN</div>
                            <div class="order-detail-text">SG45698</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Date</div>
                            <div class="order-detail-text">16 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Manager</div>
                            <div class="order-detail-text">Roslee</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Type</div>
                            <div class="order-detail-text">Accidental Repair</div>
                        </div>

                      </div>

                </div>

            </div>
        </div>

        <div nz-col nzOffset="1" nzXs="24" nzLg="11">
            <div nz-row class="single-quote-card">
                <div nz-col nzSpan="10" style="padding: 10px 10px;">
                   <img src="../../assets/vehicle image.png" style="width: 100%; height: auto;" alt="">
                </div>

                <div nz-col nzXs= "24" nzLg="14" style="padding: 15px 15px;">

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">

                        <div style="display: flex; flex-direction: row;">
                            <div style="margin-right: 10px;"><img src="../../assets/svgs/edit-icon.svg" alt=""></div>

                            <div>Quotation Received</div>
                        </div>
                       
                        <div style="margin-right: 10px;">
                            <img src="../../assets/svgs/right-icon.svg" alt="">
                        </div>

                    </div>

                    <div class="separator" style="width: 50px;"></div>

                    <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Order ID</div>
                            <div class="order-detail-text">#12354</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Created On</div>
                            <div class="order-detail-text">10 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">VRN</div>
                            <div class="order-detail-text">SG45698</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Date</div>
                            <div class="order-detail-text">16 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Manager</div>
                            <div class="order-detail-text">Roslee</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Type</div>
                            <div class="order-detail-text">Accidental Repair</div>
                        </div>

                      </div>

                </div>

            </div>
        </div>

       <div nz-col nzOffset="1" nzXs="24" nzLg="11">
            <div nz-row class="single-quote-card">
                <div nz-col nzSpan="10" style="padding: 10px 10px;">
                   <img src="../../assets/vehicle image.png" style="width: 100%; height: auto;" alt="">
                </div>

                <div nz-col nzXs= "24" nzLg="14" style="padding: 15px 15px;">

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">

                        <div style="display: flex; flex-direction: row;">
                            <div style="margin-right: 10px;"><img src="../../assets/svgs/edit-icon.svg" alt=""></div>

                            <div>Quotation Received</div>
                        </div>
                       
                        <div style="margin-right: 10px;">
                            <img src="../../assets/svgs/right-icon.svg" alt="">
                        </div>

                    </div>

                    <div class="separator" style="width: 50px;"></div>

                    <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Order ID</div>
                            <div class="order-detail-text">#12354</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Created On</div>
                            <div class="order-detail-text">10 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">VRN</div>
                            <div class="order-detail-text">SG45698</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Date</div>
                            <div class="order-detail-text">16 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Manager</div>
                            <div class="order-detail-text">Roslee</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Type</div>
                            <div class="order-detail-text">Accidental Repair</div>
                        </div>

                      </div>

                </div>

            </div>
        </div>

       <div nz-col nzOffset="1" nzXs="24" nzLg="11">
            <div nz-row class="single-quote-card">
                <div nz-col nzSpan="10" style="padding: 10px 10px;">
                   <img src="../../assets/vehicle image.png" style="width: 100%; height: auto;" alt="">
                </div>

                <div nz-col nzXs= "24" nzLg="14" style="padding: 15px 15px;">

                    <div style="display: flex; flex-direction: row; justify-content: space-between;">

                        <div style="display: flex; flex-direction: row;">
                            <div style="margin-right: 10px;"><img src="../../assets/svgs/edit-icon.svg" alt=""></div>

                            <div>Quotation Received</div>
                        </div>
                       
                        <div style="margin-right: 10px;">
                            <img src="../../assets/svgs/right-icon.svg" alt="">
                        </div>

                    </div>

                    <div class="separator" style="width: 50px;"></div>

                    <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Order ID</div>
                            <div class="order-detail-text">#12354</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Created On</div>
                            <div class="order-detail-text">10 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">VRN</div>
                            <div class="order-detail-text">SG45698</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Date</div>
                            <div class="order-detail-text">16 Dec 2021</div>
                        </div>

                      </div>

                      <div nz-row style="margin-bottom: 15px;">
                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Manager</div>
                            <div class="order-detail-text">Roslee</div>
                        </div>

                        <div nz-col nzXs="24" nzLg="12">
                            <div class="order-detail-label">Service Type</div>
                            <div class="order-detail-text">Accidental Repair</div>
                        </div>

                      </div>

                </div>

            </div>
        </div>
       
        
    </div>
      
   </div>
  
    
     <div class="copyright-text-holder">
      © 2021 BIGFOOT LOGISTIC PTE LTD
    </div>
  
  
  </div>
  