<div class="main-container">
  <div class="dark-film-container"></div>
  <div class="img-container">
    <img src="../../assets/trade-bg.png" alt="" style="width: 100%; height: auto;">
  </div>

  <div class="confirmation-box-container">
    
    <div style="font-family: DM Sans;font-weight: bold;font-size: 36px;color: #FFFFFF; margin-bottom: 5x; text-align: left; justify-content:flex-start;">
      Booking Confirmation
    </div>

    <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left; justify-content:flex-start;">
      Your ID #123456 has been confirmed for servicing.
    </div>

    <div class="separator"></div>

      <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left;">
        Job Location: <b>8 Joo Koon Road, Singapore 628972</b>
      </div>

      <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left;">
        Booking Date: <b>15 Nov, 2021</b>
      </div>

      <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left;">
        Vehicle Delivery Time: <b>10.00 am to 12.30 pm</b>
      </div>

      <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left;">
        Contact Number: <b>+65 6324 4722</b>
      </div>
      
      <div class="separator"></div>

      <div style="font-family: DM Sans; font-style: normal;font-weight: normal;font-size: 16px;line-height: 31px;color: #FFFFFF; text-align: left;">
        On further diagnosis of the vehicle, you will be shared with a <br/> job quotation before actual work to be started.
      </div>

      <div class="btns-container" style="margin-top: 15px; padding-left: 0px;">
        <div class="cofirm-btn">
          Confirm Booking
        </div>
        <div class="cancel-btn">
          Back to Home
        </div>
      </div>

   </div>


  
   <div class="copyright-text-holder">
    © 2021 BIGFOOT LOGISTIC PTE LTD
  </div>


</div>
