<div class="main-container">
    <div class="dark-film-container"></div>
    <div class="img-container">
      <img src="../../assets/trade-bg.png" alt="" style="width: 100%; height: auto;">
    </div>
  

    <div class="booking-details-box-container">

      <div class="box-container">

        <div class="details-title-container">

            <div style="font-family: DM Sans;font-weight: bold;font-size: 28px;color: #FFFFFF; margin-bottom: 5x; text-align: left; justify-content:flex-start;">
            Booking Details #12345 
            </div>

            <div class="connect-line"></div>

            <div class="quote-status-text">
                <div>
                    <img src="../../assets/svgs/edit-icon.svg" alt="" style="margin-right: 10px;">
                </div>

                <div class="quote-text">Quotation Recieved</div>

            </div>

      
        </div>

        <div nz-row class="pending-quote-row">

            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Order ID</div>
                    <div class="order-detail-text">#12354</div>
                </div>
            </div>
            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">VRN</div>
                    <div class="order-detail-text">SG45678</div>
                </div>
            </div>
            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Service Date</div>
                    <div class="order-detail-text">16 Dec 2021</div>
                </div>
            </div>

            <div nz-col nzSpan="6" style="justify-content: flex-start;">
                
            </div>
          </div>

          <div nz-row class="pending-quote-row">

            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Created On</div>
                    <div class="order-detail-text">10 Dec 2021</div>
                </div>
            </div>
            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Service Manager</div>
                    <div class="order-detail-text">Roslee</div>
                </div>
            </div>
            <div nz-col nzLg="6" nzXs="24" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Service Type</div>
                    <div class="order-detail-text">Accidental Repair</div>
                </div>
            </div>

            <div nz-col nzSpan="6" style="justify-content: flex-start;">
                
            </div>
          </div>

    </div>
  
     </div>
  

     <div class="quotations-box-container">

        <div class="quotation-title">Quotations</div>

        <div class="quotation-boxes-container" style="width: 100%;">


        <div  class="quotation-pending-box-container" style="margin-right: 10px;">

          <div class="quotation-pending-container">
  
              <div style="font-family: DM Sans;font-weight: bold;font-size: 28px;color: #FFFFFF; margin-bottom: 5x; text-align: left; justify-content:flex-start;">
              #12345 
              </div>
  
  
              <div class="quote-status-text">

                  <div>
                      <img src="../../assets/svgs/pending-approval-icon.svg" alt="" style="margin-right: 10px;">
                  </div>
  
                  <div class="pending-approval-text">Pending Approval</div>
  
              </div>
  
        
          </div>

          <div class="connect-line"></div>
  
          <div nz-row class="pending-quote-row">

            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Created On</div>
                    <div class="order-detail-text">10 Dec 2021</div>
                </div>
            </div>
            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Service Days</div>
                    <div class="order-detail-text">6 Days</div>
                </div>
            </div>
            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Parts Replaced</div>
                    <div class="order-detail-text">6 Parts</div>
                </div>
            </div>
          </div>

          <div nz-row class="pending-quote-row">

            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Servie Manager</div>
                    <div class="order-detail-text">Roslee</div>
                </div>
            </div>
            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                    <div class="order-detail-label">Amount</div>
                    <div class="order-detail-text">$12345.00</div>
                </div>
            </div>
            <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                
            </div>
          </div>

          <div class="btns-container" style="margin-top: 15px; padding-left: 0px;">
            <div class="cofirm-btn">
              Approve Quotation
            </div>
            <div class="cancel-btn">
              Reject Quotation
            </div>
          </div>
  
        </div>

        <div  class="quotation-pending-box-container">

            <div class="quotation-pending-container">
    
                <div style="font-family: DM Sans;font-weight: bold;font-size: 28px;color: #FFFFFF; margin-bottom: 5x; text-align: left; justify-content:flex-start;">
                #12345 
                </div>
    
    
                <div class="quote-status-text">
  
                    <div>
                        <img src="../../assets/svgs/quote-rejected-icon.svg" alt="" style="margin-right: 10px;">
                    </div>
    
                    <div class="quote-rejected-text">Quotation Rejected</div>
    
                </div>
    
          
            </div>
  
            <div class="connect-line"></div>
    
            <div nz-row class="pending-quote-row">
  
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                      <div class="order-detail-label">Created On</div>
                      <div class="order-detail-text">10 Dec 2021</div>
                  </div>
              </div>
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                      <div class="order-detail-label">Service Days</div>
                      <div class="order-detail-text">6 Days</div>
                  </div>
              </div>
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                      <div class="order-detail-label">Parts Replaced</div>
                      <div class="order-detail-text">6 Parts</div>
                  </div>
              </div>
            </div>
  
            <div nz-row class="pending-quote-row">
  
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                      <div class="order-detail-label">Servie Manager</div>
                      <div class="order-detail-text">Roslee</div>
                  </div>
              </div>
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  <div style="display: flex; flex-direction: column; justify-content: flex-start;">
                      <div class="order-detail-label">Amount</div>
                      <div class="order-detail-text">$12345.00</div>
                  </div>
              </div>
              <div nz-col nzXs="24" nzLg="8" style="justify-content: flex-start;">
                  
              </div>
            </div>
            
            <div class="btns-container" style="margin-top: 15px; padding-left: 0px;">
               
                <div class="cancel-btn">
                  Reject Quotation
                </div>
              </div>

    
        </div>

        </div>

      

       </div>
  
    
     <div class="copyright-text-holder">
      © 2021 BIGFOOT LOGISTIC PTE LTD
    </div>
  
  
  </div>
  