<div class="main-container">
    <app-teacher-left-sidebar></app-teacher-left-sidebar>

    <div class="dashboard-container" style="display: flex; flex-direction: column;padding:20px;padding-top: 0px;margin-top: -10px;">

        <div style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; margin-top: 35px;">

            <div class="search-bar" style="justify-content: center; align-items: center;">

                <nz-input-group [nzPrefix]="prefixIconSearch">
                    <input type="text" nz-input placeholder="Search.." style="margin-left: 5px;" />
                </nz-input-group>

                <ng-template #prefixIconSearch>
                    <i nz-icon nzType="search"></i>
                </ng-template>

            </div>

            <div class="lang-dropdown">
                <button nz-button nz-dropdown [nzDropdownMenu]="menu" [nzPlacement]="'bottomRight'">
                    English
                    <i nz-icon nzType="down"></i>
                </button>
                <nz-dropdown-menu #menu="nzDropdownMenu">
                <ul nz-menu>
                    <li nz-menu-item>English</li>
                    <li nz-menu-item>Hindi</li>
                    <li nz-menu-item>Tamil</li>
                </ul>
                </nz-dropdown-menu>
            </div>

        </div>

        <div style="font-family: Poppins;font-style: normal;font-weight: 600;font-size: 20px;line-height: 23px;letter-spacing: 0.02em;color: #111111; padding-top: 30px; padding-bottom: 15px;">Parents</div>

        <div style="display: flex; flex-direction: row;">
            
            <div style="font-style: normal;font-weight: 600;font-size: 13px;letter-spacing: 0.1em;text-transform: uppercase;color: #9E9E9E;">
                2 Parents in total
            </div>
            
        </div>

        <div style="margin-top: 25px;">
            <div nz-row [nzGutter]="[24, 24]">

                <div nz-col nzSpan="24">

                    <nz-table #basicTable [nzData]="listOfData">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>City</th>
                            <th>Contact No</th>
                            <th>Country</th>
                            
                            <th></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let data of basicTable.data">
                            <td>{{ data.name }}</td>
                            <td>{{ data.city }}</td>
                            <td>{{ data.contact }}</td>
                            <td>{{ data.country }}</td>
                            
                            <td>
                                <nz-badge nzDot [nzShowDot]="false"><a (click)="chatDrawer=true" class="tablecta">MESSAGE</a></nz-badge>
                            </td>
                          </tr>
                        </tbody>
                      </nz-table>

                      <nz-drawer [nzClosable]="false" [nzWidth]="'600px'" [nzVisible]="chatDrawer" nzPlacement="right" (nzOnClose)="chatDrawer=false">
                        <p>Some contents...</p>
                        <p>Some contents...</p>
                        <p>Some contents...</p>
                      </nz-drawer>

                </div>

            </div>
        </div>


    </div>
    
    <app-teacher-right-sidebar></app-teacher-right-sidebar>
    
</div>

